In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
data =  pd.read_csv("the-hello-dataset-fa22.csv")
data.head()

,Name,Gender,HSSC-1,HSSC-2,CGPA,FavoriteColor,BirthMonth,Weight
0,Muhammad Usman,Male,440,369,2.8,Black,March,77
1,Taha Ishfaq,Male,415,408,2.73,Red,March,72
2,Muhammad Hamdan,Male,388,321,2.78,Black,October,53
3,Syeda Maham Gillani,Female,412,440,3.11,Blue,February,63
4,Umar Wasim,Male,364,469,2.42,black,October,80

In [3]:
new_data = data[['Name']].copy()
print(new_data)

                    Name
0         Muhammad Usman
1            Taha Ishfaq
2        Muhammad Hamdan
3    Syeda Maham Gillani
4             Umar Wasim
..                   ...
129     M Abubakar Malik
130         Muhammad Ali
131         shafaqat ali
132          Ammar Asif
133      Muhammad Zubair

[134 rows x 1 columns]

In [4]:
data[data['Name'].str.count('^[H].*')>0]

,Name,Gender,HSSC-1,HSSC-2,CGPA,FavoriteColor,BirthMonth,Weight
9,Hamza Naveed,Male,954,459,2.8,Blue,May,58
21,Habib Ullah,Male,399,434,3.35,Mustard,April,60
22,Hunain Javed,Male,362,413,2.94,Black,September,76
58,Hafiz Malahim Labib.,Male,390,430,3.24,Orange,May,54
60,HAMNA TARIQ SALEEMI,Female,400,418,2.8,Black,October,62
77,Hina,Female,410,350,2.9,Blue,August,67
78,Hamza Javed Khan,Male,400,381,3.39,Blue,January,78
80,Husnain Ahmed,Male,335,427,2.41,Dark blue,September,72
93,Hamayoun Masroor,Male,900,856,3.16,Pink,September,63
98,Hussain afzal,Male,415,346,2.87,Blue,March,81

In [5]:
new_data = pd.read_csv("the-hello-dataset-fa22-new.csv")

In [6]:
name_data = new_data[['Name','Middle Name','Last Name']].copy()
print(name_data)

         Name Middle Name Last Name
0    Muhammad         NaN       NaN
1        Taha         NaN       NaN
2    Muhammad      Hamdan       NaN
3       Syeda       Maham   Gillani
4        Umar       Wasim       NaN
..        ...         ...       ...
129         M    Abubakar     Malik
130  Muhammad         Ali       NaN
131  shafaqat         ali       NaN
132     Ammar        Asif       NaN
133  Muhammad      Zubair       NaN

[134 rows x 3 columns]

In [7]:
new_data[new_data['Last Name'].str.count('w*')>0]

,Name,Middle Name,Last Name,Gender,HSSC-2,CGPA,FavoriteColor,BirthMonth,Weight
3,Syeda,Maham,Gillani,Female,440,3.11,Blue,February,63.0
6,Shahzada,Mujahid,Raza,Male,466,3.2,Orange,August,60.0
14,Muhammad,Subhan,Khan,Male,419,3.53,Yellow,January,90.0
17,SARMAD,WAHEED,AHMED,Male,427,3.47,Green,January,49.5
20,M,Hassaan,Lateef,Male,450,2.8,Black,February,82.0
23,Ahmed,Amjad,Dar,Male,432,2.71,Black,July,67.0
26,Muhammad,Ibrahim,Khalil,Male,357,2.88,Blue,November,60.0
32,Muhammad,saim,jamil,Male,849,2.85,blue,december,65.0
33,Ahmar,Hafeez,Khan,Male,397,2.81,Yellow,February,77.0
39,Muhammad,Umar,Asghar,Male,333,2.23,Black,October,62.0
42,MUHAMMAD,HAIDER,AWAN,Male,425,2.56,Blue,October,60.0
45,M.Abdul,Mateen,Alam,Male,390,2.93,Purple,September,64.0
46,Muhammad,Ammar,Khalid,Male,440,2.97,BLACK,August,72.0
48,Osama,Nadeem,Khan,Male,389,2.8,Dark blue,February,53.0
51,Muhammad,Hashir,Azeem,Male,428,2.4,Blue,March,53.0
54,Muhammad,Aun,Raza,Male,320,2.96,Black,October,60.0
55,Syeda,Noor,Zehra,Female,420,3.05,Yellow,October,67.0
58,Hafiz,Malahim,Labib.,Male,430,3.24,Orange,May,54.0
60,HAMNA,TARIQ,SALEEMI,Female,418,2.8,Black,October,62.0
63,Bashara,Tehseen,Liaqat,Female,396,2.16,Yellow,October,62.0
64,Muhammad,zafar,ijaz,Male,430,2.7,Brown,August,64.0
65,Muhammad,Hammad,Ejaz,Male,325,2.8,Light Green,May,52.0
68,MUHAMMAD,SAIF,ULLAH,Male,799,3.11,Black,June,66.0
69,Syed,Muhammad,Hamza,Male,390,2.78,Red,October,58.0
70,Muhammad,Al,Fahad,Male,346,2.35,Peach,May,54.0
72,Syed,Ali,Raza,Male,817,2.84.,Black,January,78.0
76,Abdul,Hadi,Khan,Male,368,3.23,White,July,98.0
78,Hamza,Javed,Khan,Male,381,3.39,Blue,January,78.0
83,Syed,Muhammad,Ali,Male,341,2.65,Blue,Feburary,65.0
96,Salman,Wasi,Ahmad,Male,352,2.11,Blue,August,80.0
97,GHULAM,MUSTAFA,SHIEKH,Male,328,2.81,Yellow,October,66.0
100,Muhammad,Azeem,Shoukat,Male,279,2.42,Black,November,68.0
104,Muhammad,Nouman,Tahir,Male,442,3,Blue,February,59.0
106,Muhammad,Huzaifa,Jawad,Male,825,2.7,Blue,October,60.0
108,NOOR,TARIQ,RANA,Female,490,3.16,Yellow,October,60.0
109,Muhammad,Asadullah,Rind,Male,404,2.69,Blue,July,60.0
110,Muhammad,Talha,Saeed,Male,768/1100,2.54,Black,March,67.0
116,Muhammad,Bilal,Aslam,Male,400,2.6,Peach,March,74.0
117,Syed,Ali,Mehdi,Male,829,2.57,Blue,December,68.0
118,Aftab,Ahmad,Khan,Male,422,2.27,Black,February,58.0
122,Syed,Zain,Raza,Male,436,2.8,Black,October,45.0
123,Mutyyab,Ul,Hassan,Male,441,2.58,BLACK,October,80.0
124,Muhammad,Umair,Tariq,Male,407,3.45,Purple,May,65.0
129,M,Abubakar,Malik,Male,349,2.94,Blue,Feburary,65.0

In [8]:
new_data['CGPA'] = new_data.CGPA

In [9]:
gender=new_data["Gender"]
name=new_data["Name"]

In [10]:

plt.pie(gender, labels=name, explode=explode, colors=colors,
autopct='%1.1f%%', shadow=True, startangle=140)

NameError: name 'explode' is not defined